@font-face {
  font-family: 'DC Card Header';
  src: url(/fonts/Helvetica.ttf)
}

@font-face {
  font-family: "DC Card Body";
  src: url(/fonts/Helvetica-Light.ttf)
}

@font-face {
  font-family: 'Insurance Title';
  src: url(/fonts/Helvetica.ttf)
}

@font-face {
  font-family: 'Insurance Subtitle';
  src: url(/fonts/Helvetica-Light.ttf)
}

@font-face {
  font-family: 'Insurance Protection';
  src: url(/fonts/Helvetica-Bold.ttf)
}
